* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-image: linear-gradient(120deg, #f6d365 0%, #fda085 100%);
  color: white;
  min-height: 100vh;
}

.navigetion {
  width: 100%;
  background-color: white;
  color: black;
  padding: 10px 0;
  margin-bottom: 25px;

  display: flex;
  justify-content: space-around;
}

.navigetion a{
padding: 10px;
}